:root {
  --letter: #4b4b4b;
  --bg-primary-watsy: #ff6600;
  --bg-primary-watsy-hover: #ec5f00;
  --bg-primary-watsy-disabled: #ff8b3e;
}
.hide {
  display: none;
}

.remarcar {
  border: 2px solid rgb(169, 22, 22);
}

img.brand-image {
  opacity: 1 !important;
}

.font-color-watsy {
  color: #4b4b4b;
}

.font-watsy {
  color: var(--bg-primary-watsy);
}

.card-color-watsy {
  background-color: var(--bg-primary-watsy);
  color: white;
}

.btn-watsy {
  background-color: var(--bg-primary-watsy);
  color: white;
}

.btn-watsy:hover {
  background-color: var(--bg-primary-watsy-hover);
  color: white;
}

.link-watsy {
  color: var(--bg-primary-watsy);
  font-weight: 600;
  background-color: transparent;
  border: none;
}

.link-watsy:hover {
  color: var(--bg-primary-watsy-hover);
  border-bottom: 2px solid var(--bg-primary-watsy);
}

.badge_e {
  font-size: 20px;
}

.badge_transparent_watsy {
  background-color: transparent;
  color: var(--bg-primary-watsy);
  border: 1px solid var(--bg-primary-watsy);
  white-space: normal;
  text-align: left;
}

.hide {
  display: none;
}

.contenedor-redondeado {
  width: 98%;
  height: 98%;
}

h1.title {
  color: var(--letter);
  font-weight: bold;
  font-size: 2rem;
}

button#show_password {
  background-color: var(--bg-primary-watsy);
  border-color: var(--bg-primary-watsy);
}

/* Scrollbar */
/* Tamaño del scroll */
::-webkit-scrollbar {
  width: 8px;
}

/* Estilos barra (thumb) de scroll */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

/* Paginación Datatable*/
.page-item.active .page-link {
  background-color: var(--bg-primary-watsy);
  border-color: var(--bg-primary-watsy);
}

/* Para el tamaño de los select */
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 31px;
}

.select2-container .select2-selection--single {
  height: 38px;
}

/* input mask */
.input-group-text {
  color: var(--bg-primary-watsy);
  background-color: transparent;
}

/* dropzone */
.dropzone {
  border-radius: 25px;
  background-color: transparent;
  border: 3px dashed var(--letter);
}

/* LOGIN */
body.login {
  background-color: #fcfcfc;
}

div.container-fluid.login {
  height: 100vh;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}

div.login > div.row > div > div > div {
  -webkit-box-shadow: 0px 0px 22px 4px rgba(150, 149, 149, 0.336);
  box-shadow: 0px 0px 22px 4px rgba(19, 19, 19, 0.123);
}

form#form-login input.form-control {
  background-color: #f8f8f8;
  border: none;
  height: calc(3.25rem + 2px);
  font-size: 1.3rem;
}

form#form-login label {
  font-size: 1.1rem;
  color: var(--letter);
}

@media (max-width: 720px) {
  div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.logo > img {
    width: 80%;
    margin: 0;
    margin-top: 2rem;
  }

  form#form-login > label {
    font-size: 0.8rem;
  }

  div.login-mobile {
    margin: 2rem;
  }
}

@media (max-width: 420px) {
  div.logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.logo > img {
    width: 80%;
    margin: 0;
    margin-top: 2rem;
  }

  form#form-login > label {
    font-size: 0.8rem;
  }

  div.login-mobile {
    margin: 0.5rem;
  }
}

/* login-admin */

div.content-users {
  overflow: auto;
}

div.perfiles > .card > .card-footer > h3 {
  color: var(--letter);
  font-size: 1.25rem;
}

div.perfiles > .card {
  border-radius: 5px 5px 0 0;
}

div.perfiles > .card > .card-body > div {
  height: 200px;
  width: 200px;
  padding: 0px;
  border: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

div.perfiles > .card > .card-body > div > img.img-user-admin {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px 5px 0 0;
}
/*
@media (max-width: 1200px) {
  div.content-users {
    height: 530px;
  }
} */

@media (max-width: 770px) {
  div.content-users {
    height: 400px;
    overflow: auto;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }

  div.logo-header > img {
    width: 80%;
  }

  div.perfiles {
    margin-top: -5px !important;
    margin-bottom: -5px !important;
  }

  div.perfiles > .card > .card-body > div {
    height: 160px;
    width: 160px;
  }
  div.perfiles > .card > .card-footer > h3 {
    font-size: 0.8rem;
  }
}

@media (max-width: 470px) {
  div.content-users {
    height: 400px;
    overflow: auto;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }

  div.logo-header > h3 {
    font-size: 1.4rem;
  }
  div.logo-header > img {
    width: 80%;
  }

  div.perfiles {
    margin-top: -5px !important;
    margin-bottom: -5px !important;
  }

  div.perfiles > .card > .card-body > div {
    height: 150px;
    width: 150px;
  }
  div.perfiles > .card > .card-footer > h3 {
    font-size: 0.8rem;
  }
}

@media (max-width: 380px) {
  div.content-users {
    height: 400px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    overflow: auto;
    align-content: center;
  }

  div.logo-header > h3 {
    font-size: 1rem;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  div.logo-header > img {
    width: 70%;
  }

  div.perfiles {
    margin-top: -5px !important;
    margin-bottom: -5px !important;
    height: 160px;
  }

  div.perfiles > .card > .card-body > div {
    height: 125px;
    width: 125px;
  }
  div.perfiles > .card > .card-footer > h3 {
    font-size: 0.6rem;
  }
}

@media (max-width: 280px) {
  div.content-users {
    align-content: flex-start;
  }
}

body.login-admin > .container {
  height: 100%;
}

div.content-login-admin {
  height: 100vh;
  /*IMPORTANTE*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Clientes */
div.group-btn-deleteAdd > a,
div.group-btn-deleteAdd > button,
.btn-watsy-transparent {
  background-color: transparent;
  color: var(--bg-primary-watsy);
  border: 1px solid var(--bg-primary-watsy);
}

div.group-btn-deleteAdd > a.btn-success.disabled {
  background-color: transparent;
  border-color: var(--bg-primary-watsy-disabled);
  color: var(--bg-primary-watsy-disabled);
}

div.group-btn-deleteAdd > a:hover,
div.group-btn-deleteAdd > button:hover,
.btn-watsy-transparent:hover {
  background-color: var(--bg-primary-watsy);
  color: white;
  border: none;
}

span.uCodeInsert {
  font-size: 0.8rem;
}

/* Collaborator */

span.bs-stepper-circle {
  background-color: var(--bg-primary-watsy);
}

.active .bs-stepper-circle {
  background-color: var(--bg-primary-watsy);
}

@media (max-width: 380px) {
  div.bs-stepper-header > div.step > button.step-trigger {
    padding: 0;
  }

  div.bs-stepper-header
    > div.step
    > button.step-trigger
    > span.bs-stepper-label {
    display: none;
  }
}

div.content-avatar-user {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.content-avatar-user:hover {
  cursor: pointer;
}

div.mask-avatar {
  height: 150px;
  width: 150px;
  padding: 0px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
div.mask-img-user {
  height: 88px;
  width: 88px;
  padding: 0px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

img.profile-user-img {
  background-color: var(--letter);
  height: 100%;
  width: 100%;
  object-fit: contain;
  /*   width: 100%;
  border-radius: 5px 5px 0 0;
  border: 1px solid; */
}

/***************** cotizciones **********************/

.title-btn-cotizaciones {
  display: flex;
  align-items: center;
}

.title-btn-cotizaciones > h1 {
  margin-right: 25px;
}

/*
div.header-forms{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

} */
.card-vertical {
  /* height: 350px; */
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.329);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.329);
  display: flex;
  margin: 8px 0;
}

.card-vertical > .card-title-vertical {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: white;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  /* height:  100%; */
  background-color: var(--bg-primary-watsy);
  border-radius: 0 15px 15px 0;
  padding: 0 5px;
}

.card-vertical > .card-body-form {
  height: 100%;
  width: 100%;
}

.text-client {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin: 0.4em 0;
}

.text-client > p {
  color: #212529;
  font-size: 1.3rem;
  margin: 0 15px 0 0;
  font-weight: bold;
  width: 15%;
}

.text-client > span,
.text-client > .direction-spans > span {
  color: #484848;
  font-size: 1.3rem;
  font-weight: 500;
}

.text-client > .direction-spans {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.buttons-justify-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.table-content-document > table {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.329);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.329);
}

.table-content-document > table > thead {
  background-color: white;
}

.table-content-document > table > thead th,
.table-content-document > table > tbody td {
  border: none;
}

.table-content-document > table > tbody > tr > td > button {
  border-radius: 15px;
  font-size: 1.2em;
  width: 50px;
  margin-bottom: 2px;
}

.space-mounts > .text-client:first-child {
  border-bottom: 1px solid var(--letter);
}

.space-mounts > .text-client {
  justify-content: space-between;
  margin: 0.7em 0;
}

.space-mounts > .text-client > p,
.space-mounts > .text-client > span {
  font-size: 1.1em;
}

.space-mounts > .buttons-justify-end > button {
  margin: 0 10px;
}

@media (max-width: 1320px) {
  .text-client {
    justify-content: space-between;
  }
  .text-client > .direction-spans {
    align-items: flex-end;
  }
}

@media (max-width: 990px) {
  .card-vertical {
    height: auto;
  }
}

@media (max-width: 720px) {
  .text-client {
    flex-direction: column;
    align-items: baseline;
  }

  .text-client > .direction-spans {
    align-items: flex-start;
  }

  .space-mounts > .text-client {
    flex-direction: row;
    justify-content: space-between;
  }

  .text-client > p {
    width: auto;
  }

  .space-mounts > .buttons-justify-end {
    flex-direction: column;
    align-items: baseline;
    margin: 10px 0;
  }

  .space-mounts > .buttons-justify-end > button {
    width: 100%;
    margin: 0;
  }
}

/* .card-title-vertical {
  margin: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.329);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.329);
  -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.329);
}

 .title-card-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary-watsy);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1.5em 0;
  font-size: 2rem;
  color: white;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
} */

/* .form-group > label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
} */

/*
div.card-title-vertical > div.row > .card-body-form {
  display: grid;
}*/
