
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Arial';
  }
  
  
  .letra{
    color: #2d3142;
  }
  
  
  .wrapper{
    width: 100%;
    height: 100%;
  }
  
  .navbar{
    background: #fff;
    width: 100%;
    height: 60px;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  }
  
  .mover{
    position: width;
  }
  .navbar .navbar_center a{
      font-family: 'Arial';
     font-size: 20px;
  }
  .navbar .navbar_left .logo a{
     font-family: 'Arial';
     font-size: 20px;
  }
  
  .navbar .navbar_right{
     display: flex;
  }
  
  .navbar .navbar_right img{
    width: 35px;
  }
  
  .navbar .navbar_right .icon_wrap{
    cursor: pointer;
  }
  
  .navbar .navbar_right .notifications{
    margin-right: 25px;
  }
  
  .navbar .navbar_right .notifications .icon_wrap{
    font-size: 28px;
  }
  
  .navbar .navbar_right .profile,
  .navbar .navbar_right .notifications{
    position: relative;
  }
  
  .navbar .profile .profile_dd,
  .notification_dd{
    position: absolute;
    top: 48px;
    right: -15px;
    user-select: none;
    background: #fff;
    border: 1px solid #c7d8e2;
    width: 350px;
    height: auto;
    display: none;
    border-radius: 3px;
    box-shadow: 10px 10px 35px rgba(0,0,0,0.125),
                -10px -10px 35px rgba(0,0,0,0.125);
  }
  
  .navbar .profile .profile_dd:before,
  .notification_dd:before{
      content: "";
      position: absolute;
      top: -20px;
      right: 15px;
      border: 10px solid;
      border-color: transparent transparent #fff transparent;
  }
  
  .navbar .navbar_right .profile .icon_wrap{
    display: flex;
    align-items: center;
  }
  
  .navbar .navbar_right .profile .name{
    display: inline-block;
    margin: 0 10px;
  }
  
  .navbar .navbar_right .icon_wrap:hover,
  .navbar .navbar_right .profile.active .icon_wrap,
  .navbar .navbar_right .notifications.active .icon_wrap{
    color: #2d3142;
  }
   
  .navbar .profile .profile_dd{
    width: 225px;
  }
  .navbar .profile .profile_dd:before{
    rigth: 10px;
  }
  
  .navbar .profile .profile_dd ul li {
      border-bottom: 1px solid #f1f2f4;
  }
  
  .navbar .profile .profile_dd ul li  a{
      display: block;
      padding: 15px 35px;
      position: relative;
  }
  
  .navbar .profile .profile_dd ul li  a .picon{
    display: inline-block;
    width: 30px;
  }
  
  .navbar .profile .profile_dd ul li  a:hover{
    color: #2d3142;
    background: #f0f5ff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .navbar .profile .profile_dd ul li.profile_li a:hover {
      background: transparent;
      cursor: default;
      color: #2d3142;
  }
  
  .navbar .profile .profile_dd ul li .btn{
      height: 32px;
      padding: 7px 10px;
      color: #fff;
      border-radius: 3px;
      cursor: pointer;
      text-align: center;
      background: #3b80f9;
      width: 125px;
      margin: 5px auto 15px;
  }
  
  .navbar .profile .profile_dd ul li .btn:hover{
    background: #2d3142;
  }
  
  .navbar .profile.active .profile_dd,
  .navbar .notifications.active .notification_dd{
    display: block;
  }

  /*Cards*/


h1{
  text-align: center;
  padding: 10px;
  color: rgb(97, 96, 96);
}
.descripcion{
  text-align: center;
  padding: 5px 25px;
  color: rgb(53, 53, 53);
  font-size: 1.5rem;

}

.descri{
  font-weight: bold;
  text-align: center;
  padding: 5px 25px;
  color: rgb(53, 53, 53);
}


.card{
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:6%;

}
.card__perfil{
  width: 310px;
  padding: 20px;
  box-shadow: 1px 1px 5px rgb(201, 201, 201);
  border: solid rgba(3, 133, 255, 0) 2px;
  border-radius: 10px;
}
.card__perfil:hover{
  border: solid rgb(3, 133, 255) 2px;
}
.card__perfil:hover img{
  transform: rotate(0);
}

.card__descripcion{
    font-weight: bold;
  text-align: center;
  padding: 5px 25px;
  color: rgb(53, 53, 53);
}
img{
  width: 140px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgb(216, 216, 216);

}
.card__nombre{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
hr{
  width: 100%;
  height: 4px;
  background: rgb(223, 221, 221);
  margin: 20px 5px;
}
.card__button{
  text-align: center;
}
.enlace{
  background: rgb(0, 110, 255);
  padding: 8px 20px;
  color: white;
  text-decoration: none;
}

.titulos{
    font-weight: bold;
  text-align: center;
  padding: 5px 25px;
  color: rgb(53, 53, 53);
  font-size: 2.5rem;
}

.elevar{
box-sizing: content-box;
min-height: 200px; 
}
  